html,
body,
p,
div,
h1,
h2,
h3,
h4,
span {
  font-family: proxima-nova, "proxima-nova", sans-serif !important;
}

.emphasized {
  font-weight: 600 !important;
}
.italicized {
  font-style: italic !important;
}

.krs-flex-row {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  align-items: top !important;
  justify-content: center !important;
}

.main-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.body-container {
  border: solid 1px #4a3b47;
  margin-left: auto !important;
  margin-right: auto !important;
}

/*  */
.cco-content {
  margin-bottom: 40px !important;
}

.cco-max-width {
  max-width: 800px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Plain style */
.cco-default h1,
.cco-default h2,
.cco-default h3,
.cco-default h4,
.cco-default p,
.cco-default ul,
.cco-default ol {
  margin: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 20px !important;
  max-width: 800px !important;
}

.cco-default h1,
.cco-default h2 {
  color: #4a3b47 !important;
  letter-spacing: 3px !important;
  margin: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.cco-default h1,
.cco-default h3 {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600 !important;
  margin-top: 10px !important;
  letter-spacing: 3px !important;
}
.cco-default h2,
.cco-default h4 {
  font-size: 16px !important;
  font-weight: 500 !important;
  letter-spacing: 3px !important;
}
.cco-default .cco-content {
  margin-top: 20px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.cco-default p {
  margin-bottom: 20px !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 1.7 !important;
  letter-spacing: 1.5px !important;
}

/* 01 Tan style */
.cco-style-01 .cco-content {
  background-color: #dec3b3 !important;
  color: #4a3b47 !important;
}

/* 02 Purple style */
.cco-style-02 .cco-content {
  background-color: #4a3b47 !important;
  color: #ffffff !important;
  letter-spacing: 2px !important;
}

.cco-style-02 p {
  font-size: 14px !important;
  font-weight: 300 !important;
  line-height: 1.7 !important;
}

/* 03 Write up style. */
.cco-style-03 .cco-content {
  font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
  font-size: 18px !important;
  color: #4a3b47 !important;
}
.cco-style-03 p {
  text-align: left !important;
  line-height: 1.7 !important;
}

/* Golden Outline Style */
.cco-style-04 h1 {
  text-transform: none !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  font-weight: 800 !important;
  font-size: 80px !important;
  color: #cb8840 !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  line-height: 45px !important;
}

.cco-style-04 .cco-content {
  margin-top: 0px !important;
  padding: 20px !important;
  border: solid 3px #cb8840 !important;
}

.cco-style-04 .cco-summary {
  width: 225px !important;
  text-align: right !important;
  margin-right: 25px !important;
}
.cco-style-04 .cco-lists {
  width: 225px !important;
  margin-left: 25px !important;
}
.cco-style-04 .cco-lists h3 {
  font-size: 14px !important;
  line-height: 24px !important;
  color: #4a3b47 !important;
  padding: 0 !important;
  margin: 20px 0 0 0 !important;
}
.cco-style-04 .cco-lists ul {
  list-style-type: square !important;
  padding: 0 20px !important;
  margin: 0 !important;
}

/* 05 Black style. */
.cco-style-05 .cco-content {
  background-color: #000000 !important;
  color: #ffffff !important;
  letter-spacing: 4px;
}
.cco-style-05 h3,
h4 {
  font-weight: normal !important;
}

.cco-style-06 p {
  text-align: left !important;
  font-size: 16px !important;
  font-weight: normal !important;
}

/* 07 Black Style 2. (TODO: see if this is the same as black style 5) */
.cco-default .cco-style-07 h1 {
  margin-top: 0px !important;
  color: #4a3b47 !important;
  font-style: italic !important;
}
.cco-default .cco-style-07 h2 {
  margin-top: -3px !important;
  color: #4a3b47 !important;
}
.cco-style-07 .cco-content {
  padding: 60px 20px 60px 10% !important;
  background-color: #000000 !important;
}
.cco-style-07 .cco-lyrics-feature,
.cco-style-07 .cco-lyrics-text {
  display: block !important;
  text-align: left !important;
  color: #dec3b3 !important;
  padding-top: 15px 5px 10px 15px !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  letter-spacing: 1.5px !important;
}
.cco-style-07 .cco-lyrics-feature p {
  display: block !important;
  line-height: 1.5 !important;
  text-align: right !important;
}
.cco-style-07 .cco-lyrics-text p {
  line-height: 1.5 !important;
}
.cco-style-07 .cco-lyrics-emphasized {
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  font-size: 2.2em !important;
  font-weight: 800 !important;
  color: #cb8840 !important;
  margin-bottom: 10px !important;
}

.materials-list {
  list-style-type: none !important;
  margin: 10px 0 10px 20px !important;
  padding: 0 !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  font-weight: 800 !important;
  color: #4b3d48 !important;
  font-size: 60px !important;
  line-height: 60px !important;
}
.materials-list {
  text-indent: -5px !important;
  line-height: 60px !important;
}
.materials-list > li:before {
  content: "- " !important;
}

/* Scripture Header */
.scripture-header {
  text-transform: none !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  font-weight: 800 !important;
  font-size: 80px !important;
  color: #cb8840 !important;
}

.site-header-menu {
  background-color: #000000;
}

.site-title a,
.site-title a:hover,
.site-title a:focus,
.site-description,
.main-navigation a,
.menu-toggle {
  color: #f7dfd1 !important;
}

/* Post navigation: */
.cco-post-nav-container {
  padding: 0 !important;
  margin: 0 0 20px 0 !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}
.cco-post-navigation {
  width: 300px !important;
  margin-top: 20px !important;
}
.cco-post-navigation ul {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  list-style-type: none !important;
  text-align: right !important;
}
.cco-post-navigation li {
  padding: 0 !important;
  margin: 0 !important;
  background-color: none !important;
  white-space: nowrap !important;
}
.cco-post-navigation li a {
  padding: 0 !important;
  margin: 0 !important;
  color: #4a3b47 !important;
  text-decoration: none !important;
  line-height: 250% !important;
  letter-spacing: 4px !important;
}

.cco-navigation-learn-more,
.cco-navigation-learn-more h1,
.cco-navigation-learn-more a {
  padding: 10px 0 !important;
  width: 260px !important;
  font-size: 18px !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  text-align: center !important;
}

.cco-navigation-learn-more {
  padding: 0 25px !important;
  margin: 0 auto !important;
}

.cco-navigation-learn-more h1 {
  color: #4b3d48 !important;
  border-bottom: solid 2px #000000 !important;
}

.cco-navigation-learn-more a {
  display: block !important;
  margin: 20px 0 !important;
  background-color: #cb8840 !important;
  text-decoration: none !important;
  color: #ffffff !important;
}

/* Date Graphic  */
.cco-date {
  position: relative !important;
  width: 200px !important;
  height: 140px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  letter-spacing: 0 !important;
}
.cco-date-layer-01 {
  top: 0 !important;
  left: 0 !important;
  width: 200px !important;
  height: 200px !important;
  text-align: center !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  color: #f2d7c7 !important;
  font-size: 100px !important;
  font-weight: 800 !important;
  line-height: 50px !important;
  position: absolute !important;
  letter-spacing: 0 !important;
}
.cco-date-layer-02 {
  top: 20px !important;
  left: 0 !important;
  width: 200px !important;
  height: 200px !important;
  text-align: center !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  color: #4a3b47 !important;
  font-size: 180px !important;
  font-weight: 800 !important;
  line-height: 140px !important;
  position: absolute !important;
  letter-spacing: -10px !important;
}

/* Calendar */
.cco-calendar {
  margin: 50px 0 !important;
  display: flex !important;
  flex-direction: column !important;
}
.cco-calendar-week {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center !important;
  margin: 1px !important;
  width: 100%;
}
.cco-calendar-day {
  background-color: #f7dfd1;
  color: #000000 !important;
  width: 10vw !important;
  height: 10vw !important;
  font-size: 6.5vw !important;
  font-weight: 800 !important;
  text-align: center !important;
  line-height: 170% !important;
  margin-left: 1px !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
}
.cco-calendar-day a {
  color: black !important;
  text-decoration: none !important;
}
.cco-calendar-word {
  background-color: #000000 !important;
  color: #f7dfd1 !important;
  font-size: 1.5vw !important;
  line-height: 700% !important;
  font-weight: 800 !important;
  font-family: proxima-nova, "proxima-nova", Arial, Helvetica, sans-serif !important;
  letter-spacing: 4px !important;
}
.cco-calendar-today,
.cco-calendar-today a {
  background-color: #4a3b47 !important;
  color: #f7dfd1 !important;
}

.singular-content-wrap .entry-content,
.singular-content-wrap .entry-summary {
  margin-bottom: 0 !important;
}

.menu,
.nav-menu,
#primary-menu {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}
#primary-menu a {
  letter-spacing: 5px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.wrapper {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.site-content > .wrapper,
#featured-slider-section + .site-content > .wrapper {
  padding: 30px 30px;
}

.cco-hilighted-topics {
  margin: 0 !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  background-color: #df9c40 !important;
  padding: 10px !important;
  justify-content: center !important;
  align-items: center;
}

.cco-hilighted-topics .cco-hilight {
  color: #4a3b47 !important;
  background-color: #f2d7c7 !important;
  margin: 10px 20px !important;
  padding: 20px 30px !important;
  text-align: center !important;
  letter-spacing: 4px !important;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
  font-size: 18px !important;
  line-height: 26px !important;
  white-space: nowrap !important;
}
.cco-hilighted-topics a {
  padding: 10px 26px !important;
  line-height: 0.9 !important;
  text-decoration: none !important;
  letter-spacing: normal !important;
  font-size: 60px !important;
  color: #ffffff !important;
  font-weight: 800 !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
}
