html,
body,
p,
div,
h1,
h2,
h3,
span {
  font-family: proxima-nova, "proxima-nova", sans-serif !important;
}

.emphasized {
  font-weight: 800 !important;
}
.italicized {
  font-style: italic !important;
}

.main-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.body-container {
  border: solid 1px #4a3b47;
  margin-left: auto !important;
  margin-right: auto !important;
}

/*  */
.cco-content {
  margin-bottom: 40px !important;
}

/* Plain style */
.cco-default h1,
.cco-default h2,
.cco-default h3,
.cco-default h4,
.cco-default p {
  margin: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 0 20px !important;
  max-width: 800px !important;
}
.cco-default h1,
.cco-default h3 {
  text-transform: uppercase !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  margin-top: 10px !important;
}
.cco-default h2,
.cco-default h4 {
  font-size: 16px !important;
  font-weight: normal !important;
  margin-bottom: 10px !important;
}
.cco-default .cco-content {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.cco-default p {
  margin-bottom: 20px !important;
}

/* 01 Tan style */
.cco-style-01 .cco-content {
  background-color: #f2d7c7 !important;
  color: #4a3b47 !important;
}

/* 02 Purple style */
.cco-style-02 .cco-content {
  background-color: #4a3b47 !important;
  color: #ffffff !important;
  letter-spacing: 5px !important;
}

.cco-style-02 p {
  /* padding-right: 10vw !important; */
  font-size: 16px !important;
  font-weight: normal !important;
}

/* 03 Write up style. */
.cco-style-03 .cco-content {
  font-family: "proxima-nova", Arial, Helvetica, sans-serif !important;
  font-size: 20px !important; /* font-size: 25pt; */
  color: #4a3b47 !important;
}
.cco-style-03 p {
  text-align: center !important;
  line-height: 32px !important; /* line-height: 45pt; */
}

.materials-list {
  list-style-type: none !important;
  margin: 10px 0 10px 20px !important;
  padding: 0 !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  font-weight: 800 !important;
  color: #4b3d48 !important;
  font-size: 60px !important;
  line-height: 60px !important;
}
.materials-list {
  text-indent: -5px !important;
  line-height: 60px !important;
}
.materials-list > li:before {
  content: "- " !important;
}

/* Scripture Header */
.scripture-header {
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  font-weight: 800 !important;
  font-size: 64px !important;
}

.site-header-menu {
  background-color: #000000;
}

.site-title a,
.site-title a:hover,
.site-title a:focus,
.site-description,
.main-navigation a,
.menu-toggle {
  color: #f7dfd1 !important;
}

/* Post navigation: */
.cco-post-nav-container {
  padding: 0 !important;
  margin: 0 0 20px 0 !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}
.cco-post-navigation {
  width: 200px !important;
  margin-top: 20px !important;
}
.cco-post-navigation ul {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  list-style-type: none !important;
  text-align: right !important;
}
.cco-post-navigation li {
  padding: 0 !important;
  margin: 0 !important;
  background-color: none !important;
  white-space: nowrap !important;
}
.cco-post-navigation li a {
  padding: 0 !important;
  margin: 0 !important;
  color: #211a20 !important;
  text-decoration: none !important;
  line-height: 250% !important;
  letter-spacing: 4px !important;
}

/* Date Graphic  */
.cco-date {
  position: relative !important;
  width: 200px !important;
  height: 140px !important;
  padding-right: 20px !important;
  padding-bottom: 20px !important;
  letter-spacing: 0 !important;
}
.cco-date-layer-01 {
  top: 0 !important;
  left: 0 !important;
  width: 200px !important;
  height: 200px !important;
  text-align: center !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  color: #f2d7c7 !important;
  font-size: 100px !important;
  font-weight: 800 !important;
  line-height: 50px !important;
  position: absolute !important;
  letter-spacing: 0 !important;
}
.cco-date-layer-02 {
  top: 20px !important;
  left: 0 !important;
  width: 200px !important;
  height: 200px !important;
  text-align: center !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
  color: #211a20 !important;
  font-size: 180px !important;
  font-weight: 800 !important;
  line-height: 140px !important;
  position: absolute !important;
  letter-spacing: -10px !important;
}

/* Calendar */
.cco-calendar {
  margin: 50px 0 !important;
  display: flex !important;
  flex-direction: column !important;
}
.cco-calendar-week {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center !important;
  margin: 1px !important;
  width: 100%;
}
.cco-calendar-day {
  background-color: #f7dfd1;
  color: #000000 !important;
  width: 10vw !important;
  height: 10vw !important;
  font-size: 6.5vw !important;
  font-weight: 800 !important;
  text-align: center !important;
  line-height: 170% !important;
  margin-left: 1px !important;
  font-family: meno-banner-condensed, "meno-banner-condensed", serif !important;
}
.cco-calendar-day a {
  color: black !important;
  text-decoration: none !important;
}
.cco-calendar-word {
  background-color: #000000 !important;
  color: #f7dfd1 !important;
  font-size: 1.5vw !important;
  line-height: 700% !important;
  font-weight: 800 !important;
  font-family: proxima-nova, "proxima-nova", Arial, Helvetica, sans-serif !important;
  letter-spacing: 4px !important;
}
.cco-calendar-today,
.cco-calendar-today a {
  background-color: #4a3b47 !important;
  color: #f7dfd1 !important;
}

.singular-content-wrap .entry-content,
.singular-content-wrap .entry-summary {
  margin-bottom: 0 !important;
}

.menu,
.nav-menu,
#primary-menu {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}
#primary-menu a {
  letter-spacing: 5px !important;
  padding-left: 22px !important;
  padding-right: 22px !important;
}

.wrapper {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
