html, body, p, div, h1, h2, h3, span {
    font-family: proxima-nova, 'proxima-nova', sans-serif;
    color: #4a3b47;
    white-space: normal;
}   
h1, h2, h3, p { padding: 0; margin: 0 !important; }
h1 { font-size: 24px !important; margin-top: 18px !important; }
h2 { font-size: 20px !important; margin-top: 12px !important; }
h3 { font-size: 16px !important; margin-top: 6px !important; font-weight: normal !important; }
.emphasized { font-weight: 800 !important; }
.italicized { font-style: italic !important; }
p { margin-top: 2px !important; margin-bottom: 10px !important; line-height: 200% !important; }
body {
    margin:0;
    padding:0;
    background-color: #CCCCCC;
}
.main-layout {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.body-container {
    min-width: 1000px;
    background-color: #FFFFFF;
    border-left: solid 1px #4A3B47;
    border-right: solid 1px #4A3B47;
    border-bottom: none;
    padding:0;
    margin:0;
}
.content-section {
    margin: 10px 0 !important;
    padding: 20px !important;
}

/* Plain style */
.content-section-style-00,
.content-section-style-00 h1,
.content-section-style-00 h2,
.content-section-style-00 h3, 
.content-section-style-00 p  {
    padding: 20px 0 !important; 
    margin: 10px 0 0 0 !important; 
    background-color: #FFFFFF !important; 
}
.content-section-style-00 h3 { margin:0 !important; padding:0 !important; }

/* Tan style */
.content-section-style-01,
.content-section-style-01 h1,
.content-section-style-01 h2,
.content-section-style-01 h3, 
.content-section-style-01 p  
{
    background-color: #f2d7c7 !important;
    color: #4a3b47 !important;
}

/* Purple style */
.content-section-style-02, 
.content-section-style-02 h1,
.content-section-style-02 h2,
.content-section-style-02 h3, 
.content-section-style-02 p 
{
    background-color: #4a3b47 !important; 
    color: #dec3b3 !important;
}
.content-section-style-02 h2 { font-family: meno-banner-condensed, 'meno-banner-condensed', serif; font-size:48px !important; }
.content-section-style-02 p { font-style: italic !important; font-weight:normal; color:#FFFFFF !important; }

.write-up {
    letter-spacing: 4px;
    font-family: 'proxima-nova', Arial, Helvetica, sans-serif;
    font-size: 14px; /* font-size: 25pt; */
    line-height: 26px; /* line-height: 45pt; */
}

/* Scripture Header */
.scripture-header { 
    font-family: meno-banner-condensed,'meno-banner-condensed', serif !important;
    font-weight: 800 !important; 
    font-size: 64px !important; 
}

/**/
.margin-fill {
    flex-grow: 1;
}

.calendar-row {
    /* background-color: #f1ded1; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin:1px;
}
.calendar-day {
    background-color: #F7DFD1;
    color: #000000;
    width: 100px;
    height: 100px;
    font-size: 64px;
    font-weight: 800;
    text-align:center;
    line-height: 100px;
    margin-left: 1px;
    font-family: meno-banner-condensed,'meno-banner-condensed', serif;
}
.calendar-day a {
    color:black;
}
.calendar-word {
    background-color: #000000;
    color: #F7DFD1;
    font-size: 14px;
    font-weight: 800;
    font-family: proxima-nova, 'proxima-nova', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}
.calendar-today, .calendar-today a {
    background-color: #4A3B47; 
    color: #F7DFD1;
}

.site-header-menu {
    background-color: #000000;
}

.site-title a, .site-title a:hover, .site-title a:focus, .site-description, 
.main-navigation a, 
.menu-toggle {
    color:#F7DFD1 !important;
}

/* Post navigation: */
.cco-post-nav-container {
    padding:0; margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.cco-post-navigation {
    padding:0; margin:0;
    display:flex;
    flex-direction: column;
    list-style-type: none;
    text-align: right;
}
.cco-post-navigation li {
    padding:0; margin:0;
    background-color: none;
}
.cco-post-navigation li a {
    padding:0; margin:0;
    color:#211a20;
    text-decoration: none;
    line-height: 250%;
    letter-spacing: 4px; 
}

.cco-date-layer-01 {
    top:0;
    left:0;
    width:200px;
    height:200px;
    padding: 10px 0 0 0;
    text-align:center;
    font-family: meno-banner-condensed,'meno-banner-condensed', serif; 
    color: #f2d7c7;
    font-size: 100px;
    line-height: 50px !important;
    position: absolute !important;
}

.cco-date-layer-02 {
    top: 20px;
    left:0;
    width: 200px;
    height:200px;
    text-align: center;
    font-family: meno-banner-condensed,'meno-banner-condensed', serif;
    font-size: 160px;
    line-height: 160px;
    position: absolute !important;
}